<% include partials/header %>

<link rel="stylesheet" href="app.css">

<h1>this is the home page</h1>

<img src="https://dw9to29mmj727.cloudfront.net/misc/newsletter-naruto3.png" alt="">
<% include partials/header %>


